body {
    margin: 0;
    padding: 0;
    background-color: rgb(11, 11, 11) !important;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
a{
    text-decoration: none;
    color:white;    
}
.blackbg{
    background: #131313;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #323232;
}

::-webkit-scrollbar-thumb {
    background: #E50914;
}

::-webkit-scrollbar-thumb:hover {
    background: #5e0408;
}

.title {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;

}
.subtitle {
    transition:all 0.3s ease;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
}

.italic {
    font-style: italic;
}

.sidebar {
    /* background-color: #131313; */
    box-shadow: #E50914 0 0 20px;
    width: 20rem;
    z-index: 20;
    height: 100%;
    padding: 10px;
    color: white;
}

.wrapper-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
}

.wrapper-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    text-shadow: #E50914 0 0 20px;
}

.wrapper-title .wrapper-btn {
    color: #E50914;
    cursor: pointer;
    transition: all 0.2s ease-in-out;   
}
.wrapper-title .wrapper-btn:hover{
    transform:scale(1.2);
}
.wrapper-container .content-list {
    overflow-y: scroll;
    padding: 10px;
    width: 90%;
    height:100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:#E50914 solid 5px;
    padding-bottom:1rem;
    justify-content: start;
}

.wrapper-container .content-list .movie {
    color: white;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.wrapper-container .content-list .movie:hover img {
    transform: scale(1.1);
}

.wrapper-container .content-list .movie img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    border-radius: 4px;
}

.wrapper-container .content-list .movie:hover span {
    text-shadow: #E50914 0 0 20px;
}

.wrapper-container .content-list .movie span {
    transition: all 0.2s ease-in-out;
    position: relative;
    bottom: 50%;
    width: 100%;
    text-align: center;
    max-height:10px;
    text-overflow:clip;
    font-size: clamp(0.5rem, 1rem, 1rem);
}
.sidebar-button-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    height: 80%;
    width:100%;
}

.sidebar-button-container .sidebar-button{
    background-color:#131313;
    padding:10px 2rem;
    border-radius: 5px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:all 0.3s ease;
    box-shadow:#E50914 0 0 10px;
}
.sidebar-button-container .sidebar-button:hover{
    background-color: #5e0408;
}
.sidebar-button-container .sidebar-button:hover .subtitle{
    transform: scale(1.2);
    text-shadow:#E50914 0 0 10px;
}
.sidebar-button-container .sidebar-button:hover img{
    transform: scale(1.2)
}
.sidebar-button-container .sidebar-button img{
    align-self:center;
    justify-self: center;
    object-fit: cover;
    height:2rem;
    width:100%;
    transition:all 0.3s ease;
}


.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video-container {
    border: #131313 solid 1px;
    position: relative;
    width: 80%;
    max-width: 70rem;
    aspect-ratio: 16/9;
    cursor: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-container.show-cursor {
    cursor: default;
}

video {
    width: 100%;
    height: 100%;
    display: block;
}

.video-data-container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(19, 19, 19, 0.7);
    padding: 5px 10px;
    /* Ridotto il padding per una dimensione minore */
    border-radius: 8px;
    opacity: 0;
    /* Inizialmente nascosto */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2;
}

.video-data-container.visible {
    opacity: 1;
    /* Mostra il contenitore dei dati video quando 'visible' è aggiunto */
    visibility: visible;
}

.video-data-container.hidden {
    opacity: 0;
    visibility: hidden;
    /* Nasconde il contenitore dei dati video */
}

.controls.hidden {
    opacity: 0;
    visibility: hidden;
    /* Nasconde completamente i controlli */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    /* Dispone gli elementi in colonna */
    align-items: center;
    background-color: rgba(19, 19, 19, 0.7);
    padding: 8px;
    /* Ridotto il padding */
    border-radius: 8px;
    z-index: 3;
}

.buttons-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    z-index: 4
}

.buttons-container button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    /* Ridotto la dimensione dei bottoni */
    margin: 0 8px;
    /* Ridotto il margine tra i bottoni */
    transition: all 0.3s ease;
}

.buttons-container button:hover {
    transform: scale(1.2);
    text-shadow: #E50914 0px 0px 20px;
}

#progress {
    flex-grow: 1;
    background: #E50914;
    border-radius: 5px;
    height: 3px;
    width: 100%;
}

#progress::-webkit-progress-value {
    -webkit-appearance: none;
    appearance: none;
    background-color: #E50914;
    /* Colore del riempimento */
    border-radius: 5px;
}

.progress-volume-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.progress-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    width: 100%;
}

.volume-bar {
    width: 100px;
    background: #131313;
    border-radius: 5px;
    margin-left: 8px;
    /* Spazio tra la progress bar e la barra del volume */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.volume-bar::-webkit-slider-thumb,
.volume-bar::-moz-range-thumb {
    height: 12px;
    /* Dimensione del cursore */
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.others-datacontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}

#fullscreen {
    background: none;
    color: white;
    font-weight: 400;
    border: none;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

#fullscreen:hover {
    transform: scale(1.2);
    text-shadow: #E50914 0 0 20px;
}

#next-episode-button {
    color: white;
    gap: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 3rem;
    background-color: #131313;
    border-radius: 4px;
    padding: 0 0.5rem;
    transition: all 0.3s ease;
}

#next-episode-button:hover {
    background-color: #5e0408;
    transform: scale(1.05);
    text-shadow: #E50914 0 0 20px;
}